ol {
  padding: 0;
  margin: var(--size-fluid-3) 0;
  list-style-position: inside;
}

li {
  background-color: var(--gray-0);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  border-radius: var(--radius-1);
  margin-bottom: var(--size-fluid-1);
  box-shadow: var(--shadow-1);
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

button {
  min-width: 13ch;
  padding: 0.5rem;
  border-radius: var(--radius-3);
  border: var(--border-size-2) solid var(--blue-3);
  cursor: pointer;
  background-color: var(--gray-1);
  box-shadow: var(--shadow-1);
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s;
}

button:hover {
  background-color: var(--gray-2);
  box-shadow: var(--shadow-1);
}

button:active {
  box-shadow: inset var(--shadow-1);
}

.checkedIn::before,
.checkedOut::before {
  margin-right: 0.5rem;
  display: inline-flex;
  width: 1.2rem;
  height: 1.2rem;
  align-content: center;
  border-radius: 50%;
  justify-content: center;
  color: white;
  box-shadow: var(--shadow-2);
}

.checkedIn::before {
  content: '✓';
  background-color: var(--green-4);
}
.checkedOut::before {
  content: '×';
  background-color: var(--red-4);
}

[role='alert'] {
  background-color: var(--red-4);
  padding: 0.3rem;
  border-radius: var(--radius-2);
}
